<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="phue.png">
    <title>phue</title>
    <style>
        * {
            font-size: 100px;
        }
        button {
            width: 192px;
            height: 108px;
        }
    </style>
</head>
<body>
    
    <form method = "post">
        {% csrf_token %}
        <button type="submit" name="main" class="lamp" value="I/O">I/O</button>
    </form>
    
</body>
</html>